[Desktop Entry]
Type=Application
Terminal=true
Name=MC Script Runner
Comment=MC Script Runner
Icon=/home/thoughtstem/.racket/7.0/pkgs/mc-scripts/mc-logo.png
Exec=racket /home/thoughtstem/.racket/7.0/pkgs/mc-scripts/script-runner.rkt
Terminal=true